<div class="text-center pb-3" *ngIf="headerText">
    <div class="main-img">
        <div class="logo">
            <div class="d-flex justify-content-center align-items-center text-center">
                Qalereya
            </div>
        </div>
    </div>
</div>

<div class="gallery">
    <div [ngClass]="{'container': headerText}">
        <div class="row" [ngClass]="{'gallery-row': !headerText}">
            <div class="col-lg-2 col-12" [ngClass]="{'pb-3': headerText, 'without-padding': !headerText}">
                <div class="img-container" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <img src="../../../assets/517857-tree-house-forest.jpeg" alt="">
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                        </div>
                    </div>
                </div>

               
            </div>
            <div class="col-lg-2 col-12" [ngClass]="{'pb-3': headerText, 'without-padding': !headerText}">
                <div class="img-container" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <img src="../../../assets/517857-tree-house-forest.jpeg" alt="">
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-12" [ngClass]="{'pb-3': headerText, 'without-padding': !headerText}">
                <div class="img-container" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <img src="../../../assets/517857-tree-house-forest.jpeg" alt="">
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-2 col-12" [ngClass]="{'pb-3': headerText, 'without-padding': !headerText}">
                <div class="img-container" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <img src="../../../assets/517857-tree-house-forest.jpeg" alt="">
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-12" [ngClass]="{'pb-3': headerText, 'without-padding': !headerText}">
                <div class="img-container" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <img src="../../../assets/517857-tree-house-forest.jpeg" alt="">
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-12" [ngClass]="{'pb-3': headerText, 'without-padding': !headerText}">
                <div class="img-container" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <img src="../../../assets/517857-tree-house-forest.jpeg" alt="">
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-12" [ngClass]="{'pb-3': headerText, 'without-padding': !headerText}">
                <div class="img-container" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <img src="../../../assets/517857-tree-house-forest.jpeg" alt="">
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-12" [ngClass]="{'pb-3': headerText, 'without-padding': !headerText}">
                <div class="img-container" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <img src="../../../assets/517857-tree-house-forest.jpeg" alt="">
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-12" [ngClass]="{'pb-3': headerText, 'without-padding': !headerText}">
                <div class="img-container" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <img src="../../../assets/517857-tree-house-forest.jpeg" alt="">
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-12" [ngClass]="{'pb-3': headerText, 'without-padding': !headerText}">
                <div class="img-container" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <img src="../../../assets/517857-tree-house-forest.jpeg" alt="">
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-12" [ngClass]="{'pb-3': headerText, 'without-padding': !headerText}">
                <div class="img-container" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <img src="../../../assets/517857-tree-house-forest.jpeg" alt="">
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-12" [ngClass]="{'pb-3': headerText, 'without-padding': !headerText}">
                <div class="img-container" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                    <img src="../../../assets/517857-tree-house-forest.jpeg" alt="">
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>