<div class="rooms">
    <div class="text-center pb-3" *ngIf="headerText">
        <div class="main-img">
            <div class="logo">
                <div class="d-flex justify-content-center align-items-center text-center">
                    OTAQLAR
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 accomodation-rooms">
                <div class="img-text-container" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="img-container">
                        <img src="../../../assets/mg3299-1568799481.jpeg" data-bs-toggle="modal" data-bs-target="#exampleModal" alt="" class="img-size">
                        <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#exampleModal" #exampleModalTrigger>
                        </button>
                    </div>
                    <div class="text-container">
                        salam
                    </div>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="img-container">
                                    <div class="w3-display-container">
                                        <img class="mySlides" src="../../../assets/download (1).jpeg" style="width:100%">
                                        <img class="mySlides" src="../../../assets/download.jpeg" style="width:100%">
                                        <img class="mySlides" src="../../../assets/mg3299-1568799481.jpeg" style="width:100%">
                                        <img class="mySlides" src="../../../assets/Qiz-Qalasi-İsmayilli.jpeg" style="width:100%">
                                      
                                        <button class="w3-button w3-black w3-display-left" (click)="plusDivs(-1)">&#10094;</button>
                                        <button class="w3-button w3-black w3-display-right" (click)="plusDivs(1)">&#10095;</button>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-12 accomodation-rooms">
                <div class="img-text-container" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="img-container">
                        <img src="../../../assets/mg3299-1568799481.jpeg" data-bs-toggle="modal" data-bs-target="#exampleModal" alt="" class="img-size">
                        <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#exampleModal" #exampleModalTrigger>
                        </button>
                    </div>
                    <div class="text-container">
                        salam
                    </div>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="img-container">
                                    <div class="w3-display-container">
                                        <img class="mySlides" src="../../../assets/download (1).jpeg" style="width:100%">
                                        <img class="mySlides" src="../../../assets/download.jpeg" style="width:100%">
                                        <img class="mySlides" src="../../../assets/mg3299-1568799481.jpeg" style="width:100%">
                                        <img class="mySlides" src="../../../assets/Qiz-Qalasi-İsmayilli.jpeg" style="width:100%">
                                      
                                        <button class="w3-button w3-black w3-display-left" (click)="plusDivs(-1)">&#10094;</button>
                                        <button class="w3-button w3-black w3-display-right" (click)="plusDivs(1)">&#10095;</button>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-12 accomodation-rooms">
                <div class="img-text-container" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="img-container">
                        <img src="../../../assets/mg3299-1568799481.jpeg" data-bs-toggle="modal" data-bs-target="#exampleModal" alt="" class="img-size">
                        <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#exampleModal" #exampleModalTrigger>
                        </button>
                    </div>
                    <div class="text-container">
                        salam
                    </div>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="img-container">
                                    <div class="w3-display-container">
                                        <img class="mySlides" src="../../../assets/download (1).jpeg" style="width:100%">
                                        <img class="mySlides" src="../../../assets/download.jpeg" style="width:100%">
                                        <img class="mySlides" src="../../../assets/mg3299-1568799481.jpeg" style="width:100%">
                                        <img class="mySlides" src="../../../assets/Qiz-Qalasi-İsmayilli.jpeg" style="width:100%">
                                      
                                        <button class="w3-button w3-black w3-display-left" (click)="plusDivs(-1)">&#10094;</button>
                                        <button class="w3-button w3-black w3-display-right" (click)="plusDivs(1)">&#10095;</button>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-12 accomodation-rooms">
                <div class="img-text-container" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="img-container">
                        <img src="../../../assets/mg3299-1568799481.jpeg" data-bs-toggle="modal" data-bs-target="#exampleModal" alt="" class="img-size">
                        <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#exampleModal" #exampleModalTrigger>
                        </button>
                    </div>
                    <div class="text-container">
                        salam
                    </div>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="img-container">
                                    <div class="w3-display-container">
                                        <img class="mySlides" src="../../../assets/download (1).jpeg" style="width:100%">
                                        <img class="mySlides" src="../../../assets/download.jpeg" style="width:100%">
                                        <img class="mySlides" src="../../../assets/mg3299-1568799481.jpeg" style="width:100%">
                                        <img class="mySlides" src="../../../assets/Qiz-Qalasi-İsmayilli.jpeg" style="width:100%">
                                      
                                        <button class="w3-button w3-black w3-display-left" (click)="plusDivs(-1)">&#10094;</button>
                                        <button class="w3-button w3-black w3-display-right" (click)="plusDivs(1)">&#10095;</button>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>