<div class="services py-3">
    <div class="text-center pb-3" *ngIf="headerText">
        <div class="main-img">
            <div class="logo">
                <div class="d-flex justify-content-center align-items-center text-center">
                    Xidmətlərimiz
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12"><img src="../../../assets/517857-tree-house-forest.jpeg" alt=""></div>
            <div class="col-lg-6 col-12">
                <p class="h3 py-3">Restoranlarımız</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit numquam quisquam perferendis ut veniam alias distinctio expedita, cumque repudiandae suscipit.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <p class="h3 py-3">
                    Lorem
                </p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod deleniti numquam error iusto fuga excepturi quas voluptate nihil, facilis accusantium.</p>
            </div>
            <div class="col-lg-6 col-12"><img src="../../../assets/517857-tree-house-forest.jpeg" alt=""></div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12"><img src="../../../assets/517857-tree-house-forest.jpeg" alt=""></div>
            <div class="col-lg-6 col-12">
                <p class="h3 py-3">Lorem</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam animi deserunt nobis cupiditate! Rerum, voluptas atque beatae excepturi iusto nulla.</p>
            </div>
        </div>
    </div>
</div>  