<div class="contact">
    <div class="text-center pb-3" *ngIf="headerText">
        <div class="main-img">
            <div class="logo">
                <div class="d-flex justify-content-center align-items-center text-center">
                    Əlaqə
                </div>
            </div>
        </div>
    </div>   
    <div class="contact-main">
        <div class="container">
            
        </div>
    </div> 
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2098.5035395925865!2d48.15073359583451!3d40.87230812325211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4039c9f757d9286b%3A0xf9ee81d72d39e55!2sQiz%20Qalasi!5e0!3m2!1saz!2saz!4v1679757580520!5m2!1saz!2saz" height="450" style="border:0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
