<div class="advatages py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 py-5">
                <h1> 
                    <span>ÜSTÜNLÜKLƏRİMİZ</span> 
                </h1>
                <p class="py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, similique. Fugit sapiente dolorem incidunt quisquam nobis. Praesentium laudantium consequatur laboriosam!</p>
                <div class="row">
                    <div class="col-lg-6 col-12 mb-2">
                        <div class="advantages-highlight">
                            <div class="d-flex justify-content-start gap-4">
                                <div>
                                    <img src="../../../assets/icon-3.png" alt="">
                                </div>
                                <div>Sagol</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 mb-2">
                        <div class="advantages-highlight">
                            <div class="d-flex justify-content-start gap-4">
                                <div>
                                    <img src="../../../assets/icon-3.png" alt="">
                                </div>
                                <div>Sagol</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 mb-2">
                        <div class="advantages-highlight">
                            <div class="d-flex justify-content-start gap-4">
                                <div>
                                    <img src="../../../assets/icon-3.png" alt="">
                                </div>
                                <div>Sagol</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 mb-2">
                        <div class="advantages-highlight">
                            <div class="d-flex justify-content-start gap-4">
                                <div>
                                    <img src="../../../assets/icon-3.png" alt="">
                                </div>
                                <div>Sagol</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 mb-2">
                        <div class="advantages-highlight">
                            <div class="d-flex justify-content-start gap-4">
                                <div>
                                    <img src="../../../assets/icon-3.png" alt="">
                                </div>
                                <div>Sagol</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 mb-2">
                        <div class="advantages-highlight">
                            <div class="d-flex justify-content-start gap-4">
                                <div>
                                    <img src="../../../assets/icon-3.png" alt="">
                                </div>
                                <div>Sagol</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 advantage-main-img">
                <img src="../../../assets/Qiz-Qalasi-İsmayilli.jpeg" alt="">
            </div>
        </div>
    </div>
</div>